[submodule "lib/ziglyph"]
	path = lib/ziglyph
	url = https://codeberg.org/dude_the_builder/ziglyph.git
[submodule "lib/lib/zig-yaml"]
	path = lib/lib/zig-yaml
	url = https://github.com/kubkon/zig-yaml.git
[submodule "lib/zig-clap"]
	path = lib/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
